[tool.black]
line-length = 80
target-version = [
    'py36',
    'py37',
    'py38',
    'py39',
    'py310',
    'py311',
    'py312',
    'py313',
]
include = '\.pyi?$'
# 'extend-exclude' excludes files or directories in addition to the defaults
extend-exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.pytest_cache
  | \.tox
  | \.venv
  | __pycache__
  | build
  | dist
)/
'''
