Checks: "-*,bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-narrowing-conversions,clang-analyzer-*,cert-*,concurrency-*,cppcoreguidelines-*,-cppcoreguidelines-avoid-magic-numbers,hicpp-*,misc-*,-misc-non-private-member-variables-in-classes,modernize-*,mpi-*,openmp-*,performance-*,portability-*,readability-*,-readability-identifier-length,-readability-magic-numbers"
WarningsAsErrors: "mpi-*,openmp-*,performance-*"
FormatStyle: llvm
UseColor: true
